[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
        branch = v3.3.6
[submodule "submodules/dust"]
	path = submodules/dust
	url = https://github.com/linkedin/dustjs.git
        branch = v2.7.2

